# Notebook for initial data cleanup
## Reads CSV data and performs the following:
- Finds means, standard deviations and standard error for triplicate measurements
- Aggregates values and adds appropriate columns for mean, std, and se (e.g. anthos = anthos_mean, anthos_std, anthos_se)
- Pickles data for easier access down the line
- Performs this process for both Cab Sauv (cs) and Petit Verdot (pv) datasets

In [1]:
#For dataframes
import pandas as pd

#For math stuff
import numpy as np

### Start with Cab Sauv (cs) data, and come up with a script to clean up the dataframe

In [2]:
#read in tannin data csv
data=pd.read_csv("../01-input_data/tannin_data-cs.csv")

In [3]:
data.head(5)

,varietal,date,id,ph,treat,dpt,anthos,spp,lpp,tannins,phenolics,non_tannin
0,CS,6/20/2023,ACET-3.25,3.25,ACET,0,266,0.99,0.84,431,1278,847
1,CS,6/20/2023,ACET-3.25,3.25,ACET,0,219,0.68,1.23,358,1023,665
2,CS,6/20/2023,ACET-3.25,3.25,ACET,0,213,0.64,1.17,375,1036,660
3,CS,11/28/2023,ACET-3.25,3.25,ACET,161,0,1.18,3.87,370,1081,711
4,CS,11/28/2023,ACET-3.25,3.25,ACET,161,0,1.18,3.90,341,1010,669

In [4]:
#Create a new column of unique names so we can average them and find SE
data['group']=data['id'].astype('str') + '-' + data['dpt'].astype('str')
data.head(5)

,varietal,date,id,ph,treat,dpt,anthos,spp,lpp,tannins,phenolics,non_tannin,group
0,CS,6/20/2023,ACET-3.25,3.25,ACET,0,266,0.99,0.84,431,1278,847,ACET-3.25-0
1,CS,6/20/2023,ACET-3.25,3.25,ACET,0,219,0.68,1.23,358,1023,665,ACET-3.25-0
2,CS,6/20/2023,ACET-3.25,3.25,ACET,0,213,0.64,1.17,375,1036,660,ACET-3.25-0
3,CS,11/28/2023,ACET-3.25,3.25,ACET,161,0,1.18,3.87,370,1081,711,ACET-3.25-161
4,CS,11/28/2023,ACET-3.25,3.25,ACET,161,0,1.18,3.90,341,1010,669,ACET-3.25-161

### Aggregate and add summary statistics

In [5]:
#Create new dataframe that summarizes entries in to means and std_error

#Identify columns to aggregate
cols=['anthos','spp','lpp','tannins','phenolics','non_tannin']

#Create new dataframe, aggregate columns with summary statistics 'mean', 'stdev', and 'counts'
means=pd.DataFrame()
means=data.groupby('group')[cols].agg(['mean','std','count']).reset_index()

#Get rid of the multi-level indexing
means.columns=['_'.join(col).strip() for col in means.columns.values]

#Add standard error columns
for col in cols:
    means[f'{col}_SE']=means[f'{col}_std']/np.sqrt(means[f'{col}_count'])

#Get rid of underscore in 'group' column
means=means.rename(columns={'group_':'group'})

In [6]:
print(means)

            group  anthos_mean  anthos_std  anthos_count  spp_mean   spp_std  \
0     ACET-3.25-0   232.666667   29.022979             3  0.770000  0.191572
1   ACET-3.25-161     0.000000    0.000000             3  1.126667  0.092376
2   ACET-3.25-282    31.333333    5.131601             3  1.126667  0.156312
3   ACET-3.25-529    34.333333    6.658328             3  1.406667  0.106927
4     ACET-3.50-0   232.666667   29.022979             3  0.770000  0.191572
..            ...          ...         ...           ...       ...       ...
59   SO2-3.75-529   105.000000   19.974984             3  1.096667  0.143643
60     SO2-4.00-0   208.333333    4.932883             3  0.690000  0.096437
61   SO2-4.00-161   145.666667   27.098585             3  0.560000  0.140000
62   SO2-4.00-282   154.333333   24.419937             3  0.623333  0.076376
63   SO2-4.00-529   125.666667   11.503623             3  1.046667  0.214554

    spp_count  lpp_mean   lpp_std  lpp_count  ...  phenolics_count  \
0           3  1.080000  0.210000          3  ...                3
1           3  3.906667  0.040415          3  ...                3
2           3  2.200000  0.202237          3  ...                3
3           3  1.386667  0.204042          3  ...                3
4           3  1.080000  0.210000          3  ...                3
..        ...       ...       ...        ...  ...              ...
59          3  0.933333  0.113725          3  ...                3
60          3  1.183333  0.255408          3  ...                3
61          3  2.560000  0.115326          3  ...                3
62          3  0.266667  0.713886          3  ...                3
63          3  0.976667  0.234379          3  ...                3

    non_tannin_mean  non_tannin_std  non_tannin_count  anthos_SE    spp_SE  \
0        724.000000      106.550458                 3  16.756425  0.110604
1        704.000000       32.078030                 3   0.000000  0.053333
2        477.666667       14.977761                 3   2.962731  0.090247
3        468.333333       43.546910                 3   3.844188  0.061734
4        724.000000      106.550458                 3  16.756425  0.110604
..              ...             ...               ...        ...       ...
59       657.333333       12.662280                 3  11.532563  0.082932
60       656.666667       39.513711                 3   2.848001  0.055678
61       807.666667       19.347696                 3  15.645376  0.080829
62       723.666667       72.417769                 3  14.098857  0.044096
63       690.666667       38.475100                 3   6.641620  0.123873

      lpp_SE  tannins_SE  phenolics_SE  non_tannin_SE
0   0.121244   22.052967     82.918300      61.516935
1   0.023333    9.504385     27.388156      18.520259
2   0.116762   10.535654      7.094599       8.647415
3   0.117804    3.844188     24.090109      25.141820
4   0.121244   22.052967     82.918300      61.516935
..       ...         ...           ...            ...
59  0.065659   20.341528     22.068076       7.310571
60  0.147460   29.501412     51.679568      22.813252
61  0.066583   25.357445     36.029309      11.170397
62  0.412162   17.349352     58.666667      41.810419
63  0.135319   24.828299     30.715541      22.213609

[64 rows x 25 columns]

In [7]:
#split the groups back up in to treatment, ph, and days post-treatment
means[['trt','ph','dpt']]=means['group'].str.split('-', expand=True)

In [8]:
#Drop 'dpt' entries for dpt=0
means=means[means['dpt'] != '0']

In [9]:
#Make sure pH's are numerical values and not strings
means['ph']=pd.to_numeric(means['ph'])

In [10]:
print(means)

            group  anthos_mean  anthos_std  anthos_count  spp_mean   spp_std  \
1   ACET-3.25-161     0.000000    0.000000             3  1.126667  0.092376
2   ACET-3.25-282    31.333333    5.131601             3  1.126667  0.156312
3   ACET-3.25-529    34.333333    6.658328             3  1.406667  0.106927
5   ACET-3.50-161     0.000000    0.000000             3  1.016667  0.155671
6   ACET-3.50-282    34.666667   11.846237             3  1.100000  0.310966
7   ACET-3.50-529    40.333333    9.712535             3  1.553333  0.281839
9   ACET-3.75-161    10.333333   17.897858             3  1.090000  0.321403
10  ACET-3.75-282    40.666667   21.548395             3  1.266667  0.283608
11  ACET-3.75-529    41.000000   25.514702             3  1.896667  0.277369
13  ACET-4.00-161    11.333333    4.163332             3  1.116667  0.076376
14  ACET-4.00-282    54.666667    8.082904             3  1.276667  0.115902
15  ACET-4.00-529    74.666667   10.408330             3  1.860000  0.141774
17  CTRL-3.25-161    76.666667   41.259342             3  0.686667  0.060277
18  CTRL-3.25-282    90.666667   32.868425             3  0.923333  0.070946
19  CTRL-3.25-529    45.333333   40.513372             3  1.540000  0.060000
21  CTRL-3.50-161    79.666667   29.569128             3  2.566667  0.644696
22  CTRL-3.50-282    65.333333   18.147543             3  0.893333  0.266333
23  CTRL-3.50-529    56.333333   17.009801             3  1.583333  0.119304
25  CTRL-3.75-161    72.000000    7.937254             3  2.716667  0.445459
26  CTRL-3.75-282    98.666667   13.203535             3  0.753333  0.198578
27  CTRL-3.75-529    72.000000    7.937254             3  1.563333  0.100167
29  CTRL-4.00-161   351.666667   42.099089             3  2.580000  0.340000
30  CTRL-4.00-282   125.666667   22.546249             3  0.740000  0.101489
31  CTRL-4.00-529    99.333333   17.672955             3  1.493333  0.073711
33  GLUT-3.25-161    28.333333   11.930353             3  0.880000  0.305123
34  GLUT-3.25-282    63.666667   26.274195             3  1.090000  0.122882
35  GLUT-3.25-529    66.000000   14.177447             3  1.780000  0.144222
37  GLUT-3.50-161    51.000000    7.549834             3  0.970000  0.735119
38  GLUT-3.50-282    72.666667    1.527525             3  0.820000  0.390000
39  GLUT-3.50-529    64.000000    4.358899             3  1.643333  0.115902
41  GLUT-3.75-161    65.000000   30.199338             3  0.696667  0.135769
42  GLUT-3.75-282    79.666667   14.224392             3  0.743333  0.238607
43  GLUT-3.75-529    66.000000   24.576411             3  1.556667  0.258134
45  GLUT-4.00-161    79.000000   12.124356             3  0.926667  0.593661
46  GLUT-4.00-282   100.000000    1.000000             3  0.700000  0.055678
47  GLUT-4.00-529    64.000000   13.228757             3  1.016667  0.179258
49   SO2-3.25-161   123.000000    6.082763             3  0.213333  0.040415
50   SO2-3.25-282   159.000000    7.000000             3  0.866667  0.077675
51   SO2-3.25-529    54.333333   12.503333             3  1.050000  0.101489
53   SO2-3.50-161   125.000000   31.432467             3  0.530000  0.321403
54   SO2-3.50-282   165.000000   21.517435             3  0.800000  0.095394
55   SO2-3.50-529    69.666667   25.423087             3  1.036667  0.106927
57   SO2-3.75-161   147.000000   30.805844             3  0.686667  0.122202
58   SO2-3.75-282   126.000000   11.789826             3  0.733333  0.140475
59   SO2-3.75-529   105.000000   19.974984             3  1.096667  0.143643
61   SO2-4.00-161   145.666667   27.098585             3  0.560000  0.140000
62   SO2-4.00-282   154.333333   24.419937             3  0.623333  0.076376
63   SO2-4.00-529   125.666667   11.503623             3  1.046667  0.214554

    spp_count  lpp_mean   lpp_std  lpp_count  ...  non_tannin_count  \
1           3  3.906667  0.040415          3  ...                 3
2           3  2.200000  0.202237          3  ...                 3
3           3  1.386667  0.204042          3  ...                 3
5           3  3.893333  0.381357          3  ...                 3
6           3  2.333333  0.094516          3  ...                 3
7           3  1.416667  0.068069          3  ...                 3
9           3  3.750000  0.199750          3  ...                 3
10          3  2.170000  0.052915          3  ...                 3
11          3  1.423333  0.136504          3  ...                 3
13          3  3.506667  0.165630          3  ...                 3
14          3  1.990000  0.202237          3  ...                 3
15          3  1.316667  0.087369          3  ...                 3
17          3  3.056667  0.083865          3  ...                 3
18          3  1.483333  0.159478          3  ...                 3
19          3  1.613333  0.577437          3  ...                 3
21          3  1.203333  0.182300          3  ...                 3
22          3  1.336667  0.087369          3  ...                 3
23          3  1.233333  0.135769          3  ...                 3
25          3  0.883333  0.202073          3  ...                 3
26          3  1.360000  0.072111          3  ...                 3
27          3  1.083333  0.065064          3  ...                 3
29          3  0.063333  1.024419          3  ...                 3
30          3  1.396667  0.161658          3  ...                 3
31          3  0.890000  0.045826          3  ...                 3
33          3  2.530000  0.200000          3  ...                 3
34          3 -0.150000  0.340735          3  ...                 3
35          3  0.870000  0.251595          3  ...                 3
37          3  2.513333  0.606658          3  ...                 3
38          3 -0.036667  0.055076          3  ...                 3
39          3  0.786667  0.410041          3  ...                 3
41          3  2.490000  0.338083          3  ...                 3
42          3 -0.170000  0.105357          3  ...                 3
43          3  0.706667  0.058595          3  ...                 3
45          3  2.270000  0.635531          3  ...                 3
46          3 -0.166667  0.046188          3  ...                 3
47          3  0.666667  0.127410          3  ...                 3
49          3  3.136667  0.162583          3  ...                 3
50          3  1.010000  0.144222          3  ...                 3
51          3  0.826667  0.146401          3  ...                 3
53          3  2.670000  0.072111          3  ...                 3
54          3  1.023333  0.035119          3  ...                 3
55          3  0.836667  0.098658          3  ...                 3
57          3  2.466667  0.288675          3  ...                 3
58          3  1.056667  0.049329          3  ...                 3
59          3  0.933333  0.113725          3  ...                 3
61          3  2.560000  0.115326          3  ...                 3
62          3  0.266667  0.713886          3  ...                 3
63          3  0.976667  0.234379          3  ...                 3

    anthos_SE    spp_SE    lpp_SE  tannins_SE  phenolics_SE  non_tannin_SE  \
1    0.000000  0.053333  0.023333    9.504385     27.388156      18.520259
2    2.962731  0.090247  0.116762   10.535654      7.094599       8.647415
3    3.844188  0.061734  0.117804    3.844188     24.090109      25.141820
5    0.000000  0.089876  0.220177   13.715360     47.437678      37.687310
6    6.839428  0.179536  0.054569    9.237604     10.493384      12.142670
7    5.607535  0.162720  0.039299    8.660254     33.238198      28.718945
9   10.333333  0.185562  0.115326   12.991450    114.918812     101.954783
10  12.440972  0.163741  0.030551   11.850926     43.456236      33.378303
11  14.730920  0.160139  0.078811   15.373137     63.833986      48.280431
13   2.403701  0.044096  0.095627    5.174725     10.016653       9.261629
14   4.666667  0.066916  0.116762    5.567764     22.556103      17.616280
15   6.009252  0.081854  0.050442   10.816654     21.620464      14.193113
17  23.821092  0.034801  0.048419   15.300690     43.456236      36.755952
18  18.976594  0.040961  0.092075    9.492687     34.719511      27.672690
19  23.390406  0.034641  0.333383   12.583057     60.765487      48.690633
21  17.071744  0.372216  0.105251    9.386752     80.930697      73.111787
22  10.477489  0.153768  0.050442    6.565905      5.456902       8.504901
23   9.820613  0.068880  0.078387   18.502252      5.238745      20.300520
25   4.582576  0.257186  0.116667   33.448136     11.836854      34.167886
26   7.623064  0.114649  0.041633   47.174617     21.403530      29.866369
27   4.582576  0.057831  0.037565   12.574224     36.018514      42.191363
29  24.305921  0.196299  0.591448    7.549834     11.015141      11.289129
30  13.017083  0.058595  0.093333    7.881060     53.679088      47.648015
31  10.203485  0.042557  0.026458   13.320827     29.350374      16.045075
33   6.887993  0.176163  0.115470    4.910307     18.876794      20.033306
34  15.169414  0.070946  0.196723    4.176655     21.571586      22.153505
35   8.185353  0.083267  0.145258    7.535103     28.427295      30.892286
37   4.358899  0.424421  0.350254    1.201850     28.160256      28.915586
38   0.881917  0.225167  0.031798   18.746852     50.846173      58.356186
39   2.516611  0.066916  0.236737   12.165525     32.379692      31.866039
41  17.435596  0.078387  0.195192    6.641620     46.518813      47.799349
42   8.212457  0.137760  0.060828    9.666667      9.237604      13.691035
43  14.189198  0.149034  0.033830    8.185353     27.874720      34.828150
45   7.000000  0.342750  0.366924    5.783117      5.567764      11.095545
46   0.577350  0.032146  0.026667    2.027588     20.231988      19.194907
47   7.637626  0.103494  0.073560    7.549834     47.976846      42.412000
49   3.511885  0.023333  0.093868   12.574224      6.173420      13.868429
50   4.041452  0.044845  0.083267   16.696640     21.931712      19.974984
51   7.218803  0.058595  0.084525   19.717449     54.169487      34.362447
53  18.147543  0.185562  0.041633   19.376389     49.410975      29.632940
54  12.423097  0.055076  0.020276   29.399546     94.605027      85.169113
55  14.678026  0.061734  0.056960   18.823744     17.925773       2.645751
57  17.785762  0.070553  0.166667   21.666667     23.586719      11.015141
58   6.806859  0.081104  0.028480   13.593299     71.391721      59.632206
59  11.532563  0.082932  0.065659   20.341528     22.068076       7.310571
61  15.645376  0.080829  0.066583   25.357445     36.029309      11.170397
62  14.098857  0.044096  0.412162   17.349352     58.666667      41.810419
63   6.641620  0.123873  0.135319   24.828299     30.715541      22.213609

     trt    ph  dpt
1   ACET  3.25  161
2   ACET  3.25  282
3   ACET  3.25  529
5   ACET  3.50  161
6   ACET  3.50  282
7   ACET  3.50  529
9   ACET  3.75  161
10  ACET  3.75  282
11  ACET  3.75  529
13  ACET  4.00  161
14  ACET  4.00  282
15  ACET  4.00  529
17  CTRL  3.25  161
18  CTRL  3.25  282
19  CTRL  3.25  529
21  CTRL  3.50  161
22  CTRL  3.50  282
23  CTRL  3.50  529
25  CTRL  3.75  161
26  CTRL  3.75  282
27  CTRL  3.75  529
29  CTRL  4.00  161
30  CTRL  4.00  282
31  CTRL  4.00  529
33  GLUT  3.25  161
34  GLUT  3.25  282
35  GLUT  3.25  529
37  GLUT  3.50  161
38  GLUT  3.50  282
39  GLUT  3.50  529
41  GLUT  3.75  161
42  GLUT  3.75  282
43  GLUT  3.75  529
45  GLUT  4.00  161
46  GLUT  4.00  282
47  GLUT  4.00  529
49   SO2  3.25  161
50   SO2  3.25  282
51   SO2  3.25  529
53   SO2  3.50  161
54   SO2  3.50  282
55   SO2  3.50  529
57   SO2  3.75  161
58   SO2  3.75  282
59   SO2  3.75  529
61   SO2  4.00  161
62   SO2  4.00  282
63   SO2  4.00  529

[48 rows x 28 columns]

# Create a function to make this easier

In [11]:
def cleanup(data):
    #Create a new column of unique names so we can average them and find SE
    data['group']=data['id'].astype('str') + '-' + data['dpt'].astype('str')
    
    #Create new dataframe that summarizes entries in to means and std_error

    #Identify columns to aggregate
    cols=['anthos','spp','lpp','tannins','phenolics','non_tannin']

    #Create new dataframe, aggregate columns with summary statistics 'mean', 'stdev', and 'counts'
    means=pd.DataFrame()
    means=data.groupby('group')[cols].agg(['mean','std','count']).reset_index()

    #Get rid of the multi-level indexing
    means.columns=['_'.join(col).strip() for col in means.columns.values]

    #Add standard error columns
    for col in cols:
        means[f'{col}_SE']=means[f'{col}_std']/np.sqrt(means[f'{col}_count'])

    #Get rid of underscore in 'group' column
    means=means.rename(columns={'group_':'group'})

    #split the groups back up in to treatment, ph, and days post-treatment
    means[['trt','ph','dpt']]=means['group'].str.split('-', expand=True)

    #Make sure pH's are numerical values and not strings
    means['ph']=pd.to_numeric(means['ph'])

    return(means)

In [12]:
#Read CS data again, with unique name
cs_data=pd.read_csv("../01-input_data/tannin_data-cs.csv")

In [13]:
#Process using new function
cs_summ=pd.DataFrame()
cs_summ=cleanup(cs_data)

In [14]:
#Drop DPT = 0 datapoints
cs_summ=cs_summ[cs_summ['dpt'] != '0']

In [15]:
#Check to see if it came out the same
cs_summ.head(5)

,group,anthos_mean,anthos_std,anthos_count,spp_mean,spp_std,spp_count,lpp_mean,lpp_std,lpp_count,...,non_tannin_count,anthos_SE,spp_SE,lpp_SE,tannins_SE,phenolics_SE,non_tannin_SE,trt,ph,dpt
1,ACET-3.25-161,0.000000,0.000000,3,1.126667,0.092376,3,3.906667,0.040415,3,...,3,0.000000,0.053333,0.023333,9.504385,27.388156,18.520259,ACET,3.25,161
2,ACET-3.25-282,31.333333,5.131601,3,1.126667,0.156312,3,2.200000,0.202237,3,...,3,2.962731,0.090247,0.116762,10.535654,7.094599,8.647415,ACET,3.25,282
3,ACET-3.25-529,34.333333,6.658328,3,1.406667,0.106927,3,1.386667,0.204042,3,...,3,3.844188,0.061734,0.117804,3.844188,24.090109,25.141820,ACET,3.25,529
5,ACET-3.50-161,0.000000,0.000000,3,1.016667,0.155671,3,3.893333,0.381357,3,...,3,0.000000,0.089876,0.220177,13.715360,47.437678,37.687310,ACET,3.50,161
6,ACET-3.50-282,34.666667,11.846237,3,1.100000,0.310966,3,2.333333,0.094516,3,...,3,6.839428,0.179536,0.054569,9.237604,10.493384,12.142670,ACET,3.50,282

In [16]:
cs_summ==means

,group,anthos_mean,anthos_std,anthos_count,spp_mean,spp_std,spp_count,lpp_mean,lpp_std,lpp_count,...,non_tannin_count,anthos_SE,spp_SE,lpp_SE,tannins_SE,phenolics_SE,non_tannin_SE,trt,ph,dpt
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
31,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
38,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
39,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
42,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
46,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
47,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
50,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
51,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
53,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
54,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
55,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
57,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
58,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
59,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
61,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
62,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
63,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [17]:
#Looks like it worked

### Clean up CS and PT datasets, pickle data for later

In [20]:
cs_data=pd.read_csv("../01-input_data/tannin_data-cs.csv")
cs_summ=pd.DataFrame()
cs_summ=cleanup(cs_data)
cs_summ=cs_summ[cs_summ['dpt'] != '0']
cs_summ.to_pickle("../99-outputs/pickles/cs_data.pkl")

In [21]:
pv_data=pd.read_csv("../01-input_data/tannin_data-pv.csv")
pv_summ=pd.DataFrame()
pv_summ=cleanup(pv_data)
pv_summ=pv_summ[pv_summ['dpt'] != '0']
pv_summ.to_pickle("../99-outputs/pickles/pv_data.pkl")